name: Reusable Terraform Apply

on:
  workflow_call:
    inputs:
      terraform-version:
        type: string
        default: "1.6.6"
      working-dir:
        type: string
        default: "."
    secrets:
      CLIENT_ID:
        required: true
      SUBSCRIPTION_ID:
        required: true
      TENENT_ID:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ inputs.terraform-version }}

      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENENT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - run: echo "ARM_USE_OIDC=true" >> $GITHUB_ENV

      - run: terraform init
        working-directory: ${{ inputs.working-dir }}

      - uses: actions/download-artifact@v4
        with:
          name: tfplan

      - run: terraform apply -auto-approve tfplan
        working-directory: ${{ inputs.working-dir }}
